In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
import tensorflow as tf

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/tabular-playground-series-may-2022/sample_submission.csv
/kaggle/input/tabular-playground-series-may-2022/train.csv
/kaggle/input/tabular-playground-series-may-2022/test.csv

In [2]:
sample_submission_dir = '/kaggle/input/tabular-playground-series-may-2022/sample_submission.csv'
train_data_dir = '/kaggle/input/tabular-playground-series-may-2022/train.csv'
test_data_dir = '/kaggle/input/tabular-playground-series-may-2022/test.csv'

train_df = pd.read_csv(train_data_dir)
test_df = pd.read_csv(test_data_dir)
combined_df = pd.concat([train_df,test_df])

In [3]:
print("Train data shape : ", train_df.shape)
print("Test data shape : ", test_df.shape)
print("Overall data shape : ",combined_df.shape)
display(train_df.head())
display(train_df.info())
display(train_df.describe().transpose())

Train data shape :  (900000, 33)
Test data shape :  (700000, 32)
Overall data shape :  (1600000, 33)

,id,f_00,f_01,f_02,f_03,f_04,f_05,f_06,f_07,f_08,...,f_22,f_23,f_24,f_25,f_26,f_27,f_28,f_29,f_30,target
0,0,-1.373246,0.238887,-0.243376,0.567405,-0.647715,0.839326,0.113133,1,5,...,-2.540739,0.766952,-2.730628,-0.208177,1.363402,ABABDADBAB,67.609153,0,0,0
1,1,1.697021,-1.710322,-2.230332,-0.545661,1.113173,-1.552175,0.447825,1,3,...,2.278315,-0.633658,-1.217077,-3.782194,-0.058316,ACACCADCEB,377.096415,0,0,1
2,2,1.681726,0.616746,-1.027689,0.810492,-0.609086,0.113965,-0.708660,1,0,...,-1.385775,-0.520558,-0.009121,2.788536,-3.703488,AAAEABCKAD,-195.599702,0,2,1
3,3,-0.118172,-0.587835,-0.804638,2.086822,0.371005,-0.128831,-0.282575,3,2,...,0.572594,-1.653213,1.686035,-2.533098,-0.608601,BDBBAACBCB,210.826205,0,0,1
4,4,1.148481,-0.176567,-0.664871,-1.101343,0.467875,0.500117,0.407515,3,3,...,-3.912929,-1.430366,2.127649,-3.306784,4.371371,BDBCBBCHFE,-217.211798,0,1,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900000 entries, 0 to 899999
Data columns (total 33 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      900000 non-null  int64
 1   f_00    900000 non-null  float64
 2   f_01    900000 non-null  float64
 3   f_02    900000 non-null  float64
 4   f_03    900000 non-null  float64
 5   f_04    900000 non-null  float64
 6   f_05    900000 non-null  float64
 7   f_06    900000 non-null  float64
 8   f_07    900000 non-null  int64
 9   f_08    900000 non-null  int64
 10  f_09    900000 non-null  int64
 11  f_10    900000 non-null  int64
 12  f_11    900000 non-null  int64
 13  f_12    900000 non-null  int64
 14  f_13    900000 non-null  int64
 15  f_14    900000 non-null  int64
 16  f_15    900000 non-null  int64
 17  f_16    900000 non-null  int64
 18  f_17    900000 non-null  int64
 19  f_18    900000 non-null  int64
 20  f_19    900000 non-null  float64
 21  f_20    900000 non-null  float64
 22  f_21    900000 non-null  float64
 23  f_22    900000 non-null  float64
 24  f_23    900000 non-null  float64
 25  f_24    900000 non-null  float64
 26  f_25    900000 non-null  float64
 27  f_26    900000 non-null  float64
 28  f_27    900000 non-null  object
 29  f_28    900000 non-null  float64
 30  f_29    900000 non-null  int64
 31  f_30    900000 non-null  int64
 32  target  900000 non-null  int64
dtypes: float64(16), int64(16), object(1)
memory usage: 226.6+ MB

None

,count,mean,std,min,25%,50%,75%,max
id,900000.0,449999.500000,259807.765473,0.000000,224999.750000,449999.500000,674999.250000,899999.000000
f_00,900000.0,-0.000286,0.998888,-4.599856,-0.675490,0.001144,0.674337,4.749301
f_01,900000.0,0.001165,0.999193,-4.682199,-0.675162,0.002014,0.675021,4.815699
f_02,900000.0,0.001174,1.000514,-4.642676,-0.674369,0.002218,0.677505,4.961982
f_03,900000.0,-0.001368,1.000175,-4.658816,-0.676114,-0.002227,0.672544,4.454920
f_04,900000.0,-0.000571,1.000167,-4.748501,-0.675909,-0.001662,0.673789,4.948983
f_05,900000.0,0.000284,0.999875,-4.750214,-0.673437,-0.000438,0.675028,4.971881
f_06,900000.0,-0.000709,0.999942,-4.842919,-0.674876,-0.001492,0.674749,4.822668
f_07,900000.0,2.031460,1.656172,0.000000,1.000000,2.000000,3.000000,15.000000
f_08,900000.0,2.057998,1.590955,0.000000,1.000000,2.000000,3.000000,16.000000
f_09,900000.0,2.362431,1.637706,0.000000,1.000000,2.000000,3.000000,14.000000
f_10,900000.0,2.177637,1.645953,0.000000,1.000000,2.000000,3.000000,14.000000
f_11,900000.0,1.803392,1.537487,0.000000,1.000000,2.000000,3.000000,13.000000
f_12,900000.0,2.842373,1.762835,0.000000,2.000000,3.000000,4.000000,16.000000
f_13,900000.0,2.239778,1.538426,0.000000,1.000000,2.000000,3.000000,12.000000
f_14,900000.0,1.514686,1.359213,0.000000,0.000000,1.000000,2.000000,14.000000
f_15,900000.0,2.101132,1.569093,0.000000,1.000000,2.000000,3.000000,14.000000
f_16,900000.0,2.096713,1.560169,0.000000,1.000000,2.000000,3.000000,15.000000
f_17,900000.0,1.858518,1.467675,0.000000,1.000000,2.000000,3.000000,14.000000
f_18,900000.0,2.065131,1.564783,0.000000,1.000000,2.000000,3.000000,13.000000
f_19,900000.0,0.308713,2.316026,-11.280941,-1.236061,0.330249,1.880517,12.079667
f_20,900000.0,-0.178730,2.400494,-11.257917,-1.804612,-0.190571,1.444508,11.475325
f_21,900000.0,-0.156307,2.484706,-13.310146,-1.820063,-0.152668,1.507071,14.455426
f_22,900000.0,-0.009273,2.450797,-11.853530,-1.645585,0.030850,1.661676,11.344080
f_23,900000.0,-0.369459,2.453405,-12.301097,-2.019739,-0.390966,1.255408,12.247100
f_24,900000.0,-0.342738,2.386941,-11.416189,-1.955956,-0.340746,1.266673,12.389844
f_25,900000.0,0.176549,2.416959,-11.918306,-1.440424,0.160912,1.795928,12.529179
f_26,900000.0,0.357591,2.476020,-14.300577,-1.261598,0.404212,2.028219,12.913041
f_28,900000.0,-0.380876,238.773054,-1229.753052,-159.427418,-0.519808,158.987357,1229.562577
f_29,900000.0,0.345661,0.475584,0.000000,0.000000,0.000000,1.000000,1.000000
f_30,900000.0,1.002654,0.818989,0.000000,0.000000,1.000000,2.000000,2.000000
target,900000.0,0.486488,0.499818,0.000000,0.000000,0.000000,1.000000,1.000000

In [4]:
for column in combined_df.columns:
    print(f"Number of unique elements in column {column} : ", combined_df[column].nunique())

Number of unique elements in column id :  1600000
Number of unique elements in column f_00 :  1600000
Number of unique elements in column f_01 :  1600000
Number of unique elements in column f_02 :  1600000
Number of unique elements in column f_03 :  1600000
Number of unique elements in column f_04 :  1600000
Number of unique elements in column f_05 :  1600000
Number of unique elements in column f_06 :  1600000
Number of unique elements in column f_07 :  17
Number of unique elements in column f_08 :  16
Number of unique elements in column f_09 :  16
Number of unique elements in column f_10 :  16
Number of unique elements in column f_11 :  15
Number of unique elements in column f_12 :  17
Number of unique elements in column f_13 :  14
Number of unique elements in column f_14 :  14
Number of unique elements in column f_15 :  15
Number of unique elements in column f_16 :  16
Number of unique elements in column f_17 :  15
Number of unique elements in column f_18 :  14
Number of unique elements in column f_19 :  1600000
Number of unique elements in column f_20 :  1600000
Number of unique elements in column f_21 :  1600000
Number of unique elements in column f_22 :  1600000
Number of unique elements in column f_23 :  1600000
Number of unique elements in column f_24 :  1600000
Number of unique elements in column f_25 :  1600000
Number of unique elements in column f_26 :  1600000
Number of unique elements in column f_27 :  1181880
Number of unique elements in column f_28 :  1600000
Number of unique elements in column f_29 :  2
Number of unique elements in column f_30 :  3
Number of unique elements in column target :  2

In [5]:
combined_df['f_27'].str.split('',expand=True)

       0  1  2  3  4  5  6  7  8  9  10 11
0          A  B  A  B  D  A  D  B  A  B
1          A  C  A  C  C  A  D  C  E  B
2          A  A  A  E  A  B  C  K  A  D
3          B  D  B  B  A  A  C  B  C  B
4          B  D  B  C  B  B  C  H  F  E
...    .. .. .. .. .. .. .. .. .. .. .. ..
699995     B  C  B  C  E  B  H  M  C  D
699996     B  A  A  B  C  A  D  Q  F  C
699997     A  A  A  J  C  B  G  Q  B  A
699998     B  C  B  B  C  A  B  N  D  E
699999     A  F  B  E  B  A  C  H  F  F

[1600000 rows x 12 columns]

In [6]:
numerical_column_names = [c for c in combined_df.columns if combined_df[c].nunique()>20 if c not in(['id','target', 'f_27'])]
        
f_27_label_encoders = {}        
f_27_expanded = combined_df['f_27'].str.split('',expand=True)

for column in f_27_expanded.columns:
    if column != 0 and column != 11:
        temp_encoder = LabelEncoder() # Initialize temporary encoders
        temp_encoder.fit(f_27_expanded[column])
        temp_name = f'f_27_{column}'
        f_27_label_encoders[temp_name] = temp_encoder
        
numerical_columns = combined_df[numerical_column_names]
scaler = StandardScaler()
scaler.fit(numerical_columns)

StandardScaler()

In [7]:
def memory_reduce(df):
    for col in df.columns:
        col_type = df[col].dtype
        if col_type != 'object' and col_type != "datetime64[ns]":
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
    return df

In [8]:
def data_process(
    data,
    numerical_column_names=numerical_column_names,
    f_27_encoders=None,
    scaler=None,
    val_split=True,
    val_split_ratio=0.2,
    encode=True,
    standardize=True,
    shrink=True,
    drop_encoded=True,
):
    print(data.columns)
    if encode:
        expanded_f_27 = data['f_27'].str.split('',expand=True)
        for column in expanded_f_27.columns:
            if column != 0 and column != 11:
                data[f'f_27_{column}'] = f_27_encoders[f'f_27_{column}'].transform(expanded_f_27[column])
        if drop_encoded:
            data = data.drop('f_27',axis=1)
    if standardize:
        data[numerical_column_names] = scaler.transform(data[numerical_column_names])
    if shrink:
        data = memory_reduce(data)
    
    y = data['target']
    X = data.drop(['id','target'],axis=1)
    if val_split:
        X_train, X_val, y_train, y_val = train_test_split(
            X, y, test_size=val_split_ratio, random_state=1)
        return X_train, X_val, y_train, y_val
    else:
        return X, y

In [9]:
X_train, X_val, y_train, y_val = data_process(
    data=train_df,
    f_27_encoders=f_27_label_encoders,
    scaler=scaler,
)
display(X_train.head())
display(X_train.describe().transpose())
display(X_train.info())

Index(['id', 'f_00', 'f_01', 'f_02', 'f_03', 'f_04', 'f_05', 'f_06', 'f_07',
       'f_08', 'f_09', 'f_10', 'f_11', 'f_12', 'f_13', 'f_14', 'f_15', 'f_16',
       'f_17', 'f_18', 'f_19', 'f_20', 'f_21', 'f_22', 'f_23', 'f_24', 'f_25',
       'f_26', 'f_27', 'f_28', 'f_29', 'f_30', 'target'],
      dtype='object')

,f_00,f_01,f_02,f_03,f_04,f_05,f_06,f_07,f_08,f_09,...,f_27_1,f_27_2,f_27_3,f_27_4,f_27_5,f_27_6,f_27_7,f_27_8,f_27_9,f_27_10
94700,0.695515,0.982312,0.954313,0.096462,0.777448,-0.978963,-1.522706,2,0,3,...,0,1,1,3,1,1,2,5,1,1
337388,0.268453,-0.013883,-0.967797,0.693565,0.389139,-0.554491,-0.893521,3,1,1,...,1,2,1,7,0,1,3,11,1,1
714257,1.959106,1.237826,1.866462,2.183901,0.909071,1.497526,-1.793539,3,1,3,...,1,1,0,1,1,0,4,1,2,1
641220,-0.165790,0.476863,-0.335407,1.214246,0.061892,1.228127,0.938207,1,3,7,...,0,1,1,0,0,0,1,14,5,4
109997,-0.563624,0.675672,0.369230,0.831257,-1.707643,-2.078516,-1.860021,1,5,2,...,1,0,1,3,0,0,0,2,4,2

,count,mean,std,min,25%,50%,75%,max
f_00,720000.0,0.000240,0.999180,-4.602006,-0.674705,0.002412,0.674662,4.751926
f_01,720000.0,0.001097,1.001189,-4.690551,-0.676137,0.002233,0.676277,4.823608
f_02,720000.0,0.000616,1.000379,-4.641183,-0.674361,0.001693,0.676369,4.959370
f_03,720000.0,-0.001472,0.999500,-4.624012,-0.676358,-0.001636,0.672346,4.451519
f_04,720000.0,-0.000920,1.001125,-4.749980,-0.676499,-0.002058,0.673101,4.950466
f_05,720000.0,0.000403,0.999037,-4.576734,-0.673542,-0.000391,0.674824,4.538604
f_06,720000.0,-0.001742,1.000329,-4.844773,-0.675401,-0.003064,0.674177,4.823084
f_07,720000.0,2.032101,1.656758,0.000000,1.000000,2.000000,3.000000,15.000000
f_08,720000.0,2.058133,1.589792,0.000000,1.000000,2.000000,3.000000,16.000000
f_09,720000.0,2.362396,1.638384,0.000000,1.000000,2.000000,3.000000,14.000000
f_10,720000.0,2.178393,1.647363,0.000000,1.000000,2.000000,3.000000,14.000000
f_11,720000.0,1.803815,1.536798,0.000000,1.000000,2.000000,3.000000,13.000000
f_12,720000.0,2.842792,1.762582,0.000000,2.000000,3.000000,4.000000,16.000000
f_13,720000.0,2.239012,1.538853,0.000000,1.000000,2.000000,3.000000,12.000000
f_14,720000.0,1.515094,1.359418,0.000000,0.000000,1.000000,2.000000,14.000000
f_15,720000.0,2.100882,1.568964,0.000000,1.000000,2.000000,3.000000,14.000000
f_16,720000.0,2.095808,1.560076,0.000000,1.000000,2.000000,3.000000,14.000000
f_17,720000.0,1.859015,1.467834,0.000000,1.000000,2.000000,3.000000,14.000000
f_18,720000.0,2.063921,1.563454,0.000000,1.000000,2.000000,3.000000,13.000000
f_19,720000.0,0.000250,1.000247,-5.004879,-0.666936,0.010062,0.678778,5.083719
f_20,720000.0,-0.000600,1.000388,-4.618396,-0.677958,-0.005689,0.676017,4.856252
f_21,720000.0,-0.001178,1.000322,-5.294815,-0.671577,-0.000045,0.668177,5.880781
f_22,720000.0,-0.000726,0.999514,-4.833376,-0.667598,0.015394,0.679953,4.631773
f_23,720000.0,0.000729,1.000057,-4.835009,-0.672489,-0.008004,0.662473,5.143642
f_24,720000.0,-0.000332,0.999378,-4.637862,-0.675718,0.000694,0.673654,4.812514
f_25,720000.0,-0.000380,1.000008,-5.003208,-0.669041,-0.006302,0.669827,4.579917
f_26,720000.0,-0.000658,0.999808,-5.036366,-0.653386,0.018154,0.674503,5.069536
f_28,720000.0,-0.001669,0.999937,-5.149409,-0.667938,-0.002385,0.665618,5.148192
f_29,720000.0,0.345790,0.475626,0.000000,0.000000,0.000000,1.000000,1.000000
f_30,720000.0,1.003101,0.819145,0.000000,0.000000,1.000000,2.000000,2.000000
f_27_1,720000.0,0.498760,0.499999,0.000000,0.000000,0.000000,1.000000,1.000000
f_27_2,720000.0,1.967406,1.500410,0.000000,1.000000,2.000000,3.000000,13.000000
f_27_3,720000.0,0.668911,0.470605,0.000000,0.000000,1.000000,1.000000,1.000000
f_27_4,720000.0,1.988535,1.595156,0.000000,1.000000,2.000000,3.000000,14.000000
f_27_5,720000.0,1.386311,1.297445,0.000000,0.000000,1.000000,2.000000,14.000000
f_27_6,720000.0,0.467568,0.498947,0.000000,0.000000,0.000000,1.000000,1.000000
f_27_7,720000.0,2.378196,1.656377,0.000000,1.000000,2.000000,3.000000,14.000000
f_27_8,720000.0,9.363194,5.704607,0.000000,4.000000,9.000000,14.000000,19.000000
f_27_9,720000.0,2.022092,1.600362,0.000000,1.000000,2.000000,3.000000,14.000000
f_27_10,720000.0,2.283601,1.652476,0.000000,1.000000,2.000000,3.000000,14.000000

<class 'pandas.core.frame.DataFrame'>
Int64Index: 720000 entries, 94700 to 128037
Data columns (total 40 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   f_00     720000 non-null  float32
 1   f_01     720000 non-null  float32
 2   f_02     720000 non-null  float32
 3   f_03     720000 non-null  float32
 4   f_04     720000 non-null  float32
 5   f_05     720000 non-null  float32
 6   f_06     720000 non-null  float32
 7   f_07     720000 non-null  int8
 8   f_08     720000 non-null  int8
 9   f_09     720000 non-null  int8
 10  f_10     720000 non-null  int8
 11  f_11     720000 non-null  int8
 12  f_12     720000 non-null  int8
 13  f_13     720000 non-null  int8
 14  f_14     720000 non-null  int8
 15  f_15     720000 non-null  int8
 16  f_16     720000 non-null  int8
 17  f_17     720000 non-null  int8
 18  f_18     720000 non-null  int8
 19  f_19     720000 non-null  float32
 20  f_20     720000 non-null  float32
 21  f_21     720000 non-null  float32
 22  f_22     720000 non-null  float32
 23  f_23     720000 non-null  float32
 24  f_24     720000 non-null  float32
 25  f_25     720000 non-null  float32
 26  f_26     720000 non-null  float32
 27  f_28     720000 non-null  float32
 28  f_29     720000 non-null  int8
 29  f_30     720000 non-null  int8
 30  f_27_1   720000 non-null  int8
 31  f_27_2   720000 non-null  int8
 32  f_27_3   720000 non-null  int8
 33  f_27_4   720000 non-null  int8
 34  f_27_5   720000 non-null  int8
 35  f_27_6   720000 non-null  int8
 36  f_27_7   720000 non-null  int8
 37  f_27_8   720000 non-null  int8
 38  f_27_9   720000 non-null  int8
 39  f_27_10  720000 non-null  int8
dtypes: float32(16), int8(24)
memory usage: 65.9 MB

None

In [10]:
from sklearn.linear_model import Perceptron

perceptron_model = Perceptron(
    eta0=0.1, # Learning rate of the model
    random_state=1
)
perceptron_model.fit(
    X_train,
    y_train
)
perceptron_prediction = perceptron_model.predict(X_val)
perceptron_accuracy = (perceptron_prediction==y_val).sum()/y_val.shape[0]
print("Perceptron model accuracy is : ", perceptron_accuracy)

Perceptron model accuracy is :  0.5933277777777778

In [11]:
from sklearn.ensemble import RandomForestClassifier

forest_model = RandomForestClassifier(
    n_estimators=25, # Number of trees generated in the model
    random_state=1,
    n_jobs=2 # Making parallel computing by using 2 cores
)
forest_model.fit(X_train,y_train)
forest_prediction = forest_model.predict(X_val)
forest_accuracy = (forest_prediction == y_val).sum()/y_val.shape[0]
print("Random Forest model accuracy : ", forest_accuracy)

Random Forest model accuracy :  0.8276444444444444

In [29]:
def nnmodel(inputs):
    layer_activation = 'swish'
    
    layer_x = tf.keras.layers.Dense(32,name='dense_1',activation=layer_activation)(inputs)
    layer_x = tf.keras.layers.Dropout(0.1)(layer_x)

    layer_x = tf.keras.layers.Dense(32,name='dense_2',activation=layer_activation)(layer_x)
    layer_x = tf.keras.layers.Dropout(0.1)(layer_x)

    layer_x = tf.keras.layers.Dense(32,name='dense_3',activation=layer_activation)(layer_x)
    layer_x = tf.keras.layers.Dropout(0.1)(layer_x)

    layer_x = tf.keras.layers.Dense(32,name='dense_4',activation=layer_activation)(layer_x)
    layer_x = tf.keras.layers.Dropout(0.1)(layer_x)

    layer_x = tf.keras.layers.Dense(32,name='dense_5',activation=layer_activation)(layer_x)
    layer_x = tf.keras.layers.Dropout(0.1)(layer_x)

    layer_x = tf.keras.layers.Dense(32,name='dense_6',activation=layer_activation)(layer_x)
    layer_x = tf.keras.layers.Dropout(0.1)(layer_x)

    layer_x = tf.keras.layers.Dense(32,name='dense_7',activation=layer_activation)(layer_x)
    layer_x = tf.keras.layers.Dropout(0.1)(layer_x)

    layer_x = tf.keras.layers.Dense(32,name='dense_8',activation=layer_activation)(layer_x)
    layer_x = tf.keras.layers.Dropout(0.1)(layer_x)
    linear_reg_layer = tf.keras.layers.Dense(1,name='output_layer',activation='sigmoid')(layer_x)

    model = tf.keras.Model(
        inputs=inputs,
        outputs=linear_reg_layer,
        name='nn_model'
    )
    return model

In [30]:
# train_tensor = tf.data.Dataset.from_tensor_slices((X_train,y_train))
# val_tensor = tf.data.Dataset.from_tensor_slices((X_val,y_val))

# BATCH_SIZE = 32
# SHUFFLE_BUFFER_SIZE = 100

# train_dataset = train_tensor.shuffle(SHUFFLE_BUFFER_SIZE).batch(BATCH_SIZE)
# val_dataset = val_tensor.batch(BATCH_SIZE)


tf.keras.backend.clear_session()
# # Acquiring a mirrored strategy to use multiple cores on GPU
# strategy = tf.distribute.MultiWorkerMirroredStrategy()
# BUFFER_SIZE = len(X_train)
# BATCH_SIZE_PER_REPLICA = 32
# GLOBAL_BATCH_SIZE = BATCH_SIZE_PER_REPLICA * strategy.num_replicas_in_sync
train_dataset = tf.data.Dataset.from_tensor_slices((X_train, y_train))
validation_dataset = tf.data.Dataset.from_tensor_slices((X_val, y_val))

In [34]:
model = nnmodel(tf.keras.Input(shape=(X_train.shape[-1],)))
model.compile(optimizer=tf.keras.optimizers.Adam(),
              loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
              metrics=['accuracy'])

model.fit(
    train_dataset,
    epochs=30,
    validation_data=val_dataset
)

Epoch 1/30

ValueError: in user code:

    /opt/conda/lib/python3.7/site-packages/keras/engine/training.py:853 train_function  *
        return step_function(self, iterator)
    /opt/conda/lib/python3.7/site-packages/keras/engine/training.py:842 step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    /opt/conda/lib/python3.7/site-packages/tensorflow/python/distribute/distribute_lib.py:1286 run
        return self._extended.call_for_each_replica(fn, args=args, kwargs=kwargs)
    /opt/conda/lib/python3.7/site-packages/tensorflow/python/distribute/distribute_lib.py:2849 call_for_each_replica
        return self._call_for_each_replica(fn, args, kwargs)
    /opt/conda/lib/python3.7/site-packages/tensorflow/python/distribute/distribute_lib.py:3632 _call_for_each_replica
        return fn(*args, **kwargs)
    /opt/conda/lib/python3.7/site-packages/keras/engine/training.py:835 run_step  **
        outputs = model.train_step(data)
    /opt/conda/lib/python3.7/site-packages/keras/engine/training.py:787 train_step
        y_pred = self(x, training=True)
    /opt/conda/lib/python3.7/site-packages/keras/engine/base_layer.py:1037 __call__
        outputs = call_fn(inputs, *args, **kwargs)
    /opt/conda/lib/python3.7/site-packages/keras/engine/functional.py:415 call
        inputs, training=training, mask=mask)
    /opt/conda/lib/python3.7/site-packages/keras/engine/functional.py:550 _run_internal_graph
        outputs = node.layer(*args, **kwargs)
    /opt/conda/lib/python3.7/site-packages/keras/engine/base_layer.py:1020 __call__
        input_spec.assert_input_compatibility(self.input_spec, inputs, self.name)
    /opt/conda/lib/python3.7/site-packages/keras/engine/input_spec.py:254 assert_input_compatibility
        ' but received input with shape ' + display_shape(x.shape))

    ValueError: Input 0 of layer dense_1 is incompatible with the layer: expected axis -1 of input shape to have value 40 but received input with shape (40, 1)